[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=HomeBudget
Comment=Budgeting and Bill payment application.
Icon=org.homebudget.HomeBudget
StartupWMClass=HomeBudget
StartupNotify=true
X-Desktop-File-Install-Version=0.5
Categories=Office;
Keywords=Budget;Finance;
GenericName=home Budget
X-Flatpak=org.homebudget.HomeBudget
